.dashboard_container {
    height: 94%;
    border-collapse: collapse;
}

.user_wrapper {
    height: 50%;
    text-transform: uppercase;
}

.user_card {
    display: flex;
    align-items: center;
    position: relative;
    background-color: lightgrey;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 2em;
    padding: 0 10%;
}

.image_container {
    width: 20%;
    margin: 0 5%;
}

.profile_image {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
}

.text_container {
    width: 80%;
}

#username {
    background: #E0007B;
    background: -webkit-linear-gradient(to right, #E0007B 0%, #570150 100%);
    background: -moz-linear-gradient(to right, #E0007B 0%, #570150 100%);
    background: linear-gradient(to right, #E0007B 0%, #570150 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* THIS SECTION IS FOR THE NAV LINKS */

.dashboard_links_wrapper {
    height: 50%;
    display: flex;
    justify-content: space-between;
    text-transform: lowercase;
    padding: 0 5%;
}

.dashboard_link {
    width: 24%;
    margin: 1% 0%;
    height: 75%;
    border: 1px solid lightgrey;
    /* text-align: center; */
    cursor: pointer;
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.dashboard_link_image {
    height: 90%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
}

.dashboard_link p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-weight: 500;
}
