#body-wrapper {
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    margin: 0 10%;
    border-right: 2px solid #E6E6E6;
    border-left: 2px solid #E6E6E6;
    height: 100vh;
}


/* @media (min-width: 1284px)
#body-wrapper {
    border-right: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
} */